absl-py==2.2.2
alabaster==1.0.0
anyascii==0.3.2
asttokens==3.0.0
attrs==25.3.0
babel==2.17.0
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==6.2.0
Brotli==1.1.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
chex==0.1.89
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.2
coverage==7.8.0
cssselect2==0.8.0
cycler==0.12.1
Cython==3.1.1
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
dm-haiku==0.0.14
docopt==0.6.2
docutils==0.21.2
etils==1.12.2
exceptiongroup==1.3.0
executing==2.2.0
Farama-Notifications==0.0.4
fasteners==0.19
fastjsonschema==2.21.1
filelock==3.18.0
flatbuffers==25.2.10
flax==0.10.6
fonttools==4.58.0
fsspec==2025.5.0
gitdb==4.0.12
GitPython==3.1.44
glfw==2.9.0
graphviz==0.20.3
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.1.1
h5py==3.13.0
hiddenlayer==0.3
huggingface-hub==0.31.4
humanfriendly==10.0
idna==3.10
imageio==2.37.0
imagesize==1.4.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jax==0.6.0
jax-tqdm==0.4.0
jaxlib==0.6.0
jedi==0.19.2
Jinja2==3.1.6
jmp==0.0.4
joblib==1.5.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver==1.4.8
langdetect==1.0.9
liftoff @ git+https://github.com/mariusdgm/liftoff.git@1f0f3a2f4c90b9d0a21658bc53d128aa00e65820
llvmlite==0.44.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.8.2
mdurl==0.1.2
mistune==3.1.3
ml_dtypes==0.5.1
mplcursors==0.6
mpmath==1.3.0
msgpack==1.0.8
mujoco==3.2.0
mujoco-py==2.1.2.14
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.3
nest-asyncio==1.6.0
networkx==3.3
numba==0.61.0
numpy==1.26.4
onnx==1.16.1
onnxruntime==1.20.1
opencv-python==4.10.0.84
opt-einsum==3.3.0
optax==0.2.2
orbax-checkpoint==0.5.7
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
parso==0.8.4
pillow==10.2.0
pipreqs==0.5.0
platformdirs==4.2.0
plotly==5.20.0
pluggy==1.4.0
pockets==0.9.1
protobuf==5.26.1
pyclipper==1.3.0.post6
pycparser==2.22
pydyf==0.11.0
pygame==2.5.2
Pygments==2.17.2
PyOpenGL==3.1.9
pyparsing==3.1.1
pypdfium2==4.30.1
pyperclip==1.8.2
pyphen==0.17.0
pyreadline3==3.5.4
pytest==7.4.4
pytest-cov==4.1.0
python-dateutil==2.8.2
python-doctr==0.10.0
pytz==2024.1
pywin32==306
PyYAML==6.0.2
RapidFuzz==3.11.0
referencing==0.34.0
requests==2.31.0
rich==13.7.1
rl-envs-forge==5.15.1
rpds-py==0.18.0
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
shap==0.47.0
shapely==2.0.6
six==1.16.0
slicer==0.0.8
smmap==5.0.1
snowballstemmer==2.2.0
soupsieve==2.7
Sphinx==7.2.6
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sympy==1.14.0
tabulate==0.9.0
tenacity==8.2.3
tensorstore==0.1.56
termcolor==2.4.0
threadpoolctl==3.3.0
tinycss2==1.4.0
tinyhtml5==2.0.0
toml==0.10.2
toolz==0.12.1
torch==2.7.0
torchvision==0.22.0
torchviz==0.0.3
tqdm==4.66.2
traitlets==5.14.2
treescope==0.1.9
typing_extensions==4.13.2
tzdata==2024.1
urllib3==2.2.0
weasyprint==63.1
webencodings==0.5.1
xgboost==2.1.4
yarg==0.1.9
zipp==3.21.0
zopfli==0.2.3.post1
