absl-py==2.1.0
alabaster==0.7.16
anyascii==0.3.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
attrs==23.2.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==6.2.0
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
chex==0.1.86
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
contourpy==1.2.0
coverage==7.4.1
cssselect2==0.7.0
cycler==0.12.1
Cython==3.0.10
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
dm-haiku==0.0.12
docopt==0.6.2
docutils==0.18.1
etils==1.8.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1700579780973/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
Farama-Notifications==0.0.4
fasteners==0.19
fastjsonschema==2.19.1
filelock==3.13.1
flatbuffers==24.12.23
flax==0.8.2
fonttools==4.48.1
fsspec==2024.3.1
gitdb==4.0.11
GitPython==3.1.42
glfw==2.7.0
graphviz==0.20.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h5py==3.12.1
hiddenlayer==0.3
huggingface-hub==0.27.1
humanfriendly==10.0
idna==3.6
imageio==2.34.2
imagesize==1.4.1
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib_resources==6.4.0
iniconfig==2.0.0
ipykernel @ file:///D:/bld/ipykernel_1698244157926/work
ipython==8.12.3
jax==0.4.25
jax-tqdm==0.1.2
jaxlib==0.4.25
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.3
jmp==0.0.4
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1699283905679/work
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
langdetect==1.0.9
liftoff @ git+https://github.com/mariusdgm/liftoff.git@1f0f3a2f4c90b9d0a21658bc53d128aa00e65820
llvmlite==0.44.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
mistune==3.1.3
ml-dtypes==0.4.0
mplcursors==0.6
mpmath==1.3.0
msgpack==1.0.8
mujoco==3.2.0
mujoco-py==2.1.2.14
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.3
nest-asyncio==1.6.0
networkx==3.3
numba==0.61.0
numpy==1.26.4
onnx==1.16.1
onnxruntime==1.20.1
opencv-python==4.10.0.84
opt-einsum==3.3.0
optax==0.2.2
orbax-checkpoint==0.5.7
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.2.0
pipreqs==0.5.0
platformdirs==4.2.0
plotly==5.20.0
pluggy==1.4.0
pockets==0.9.1
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1699963054032/work
protobuf==5.26.1
psutil @ file:///C:/ci_311_rebuilds/psutil_1679005906571/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyclipper==1.3.0.post6
pycparser==2.22
pydyf==0.11.0
pygame==2.5.2
Pygments==2.17.2
PyOpenGL==3.1.7
pyparsing==3.1.1
pypdfium2==4.30.1
pyperclip==1.8.2
pyphen==0.17.0
pyreadline3==3.5.4
pytest==7.4.4
pytest-cov==4.1.0
python-dateutil==2.8.2
python-doctr==0.10.0
pytz==2024.1
pywin32==306
PyYAML==6.0.1
pyzmq @ file:///C:/b/abs_655zk4a3s8/croot/pyzmq_1686601465034/work
RapidFuzz==3.11.0
referencing==0.34.0
requests==2.31.0
rich==13.7.1
rl-envs-forge==5.15.1
rpds-py==0.18.0
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
shap==0.47.0
shapely==2.0.6
six==1.16.0
slicer==0.0.8
smmap==5.0.1
snowballstemmer==2.2.0
soupsieve==2.7
Sphinx==7.2.6
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
sympy==1.13.1
tabulate==0.9.0
tenacity==8.2.3
tensorstore==0.1.56
termcolor==2.4.0
threadpoolctl==3.3.0
tinycss2==1.4.0
tinyhtml5==2.0.0
toml==0.10.2
toolz==0.12.1
torch==2.5.1
torchvision==0.20.1
torchviz==0.0.3
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
tqdm==4.66.2
traitlets==5.14.2
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1700607916581/work
weasyprint==63.1
webencodings==0.5.1
xgboost==2.1.4
yarg==0.1.9
zipp==3.18.1
zopfli==0.2.3.post1
